<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>TheDigicard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:image" itemprop="image" content="/assets/logohd.png">
    <meta property="og:site_name" content="https://www.thedigicard.in/">
    <meta property="og:title" content="TheDigicard" />
    <meta property="og:description" content="Where Your Identity meets Digital Platform">
    <meta property="og:type" content="website" />
    <link href="/assets/favicon.png" rel="shortcut icon" size="120x120" type="image/png" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    {{{body}}}
</body>

</html>ß