 <div class="container">
     <h2 class="heading">Select Plan</h2>
   <div class="grid">
    <div class="card card1">
      <h3>BASIC</h3>
      <h2>1800</h2>
      <h4>₹1800</h4>
      <hr>
      <p>For Beginners :</p>
      <p>One Year Subscription</p>
      <a href="#">Buy now</a>
    </div>
     <div class="card card2">
      <h3>PRO</h3>
      <h2>3000</h2>
      <h4>₹3000</h4>
      <hr>
      <p>Hot Favourite :</p>
      <p>Two Year Subscription</p>
      <a href="#">Buy now</a>
    </div>
    <div class="card card3">
      <h3>ULTIMATE</h3>
      <h2>5000</h2>
      <h4>₹5000</h4>
      <hr>
      <p>Premium One : </p>
      <p>Three Year Subscription</p>
      <a href="#">Buy now</a>
   </div>
  </div>
</div>